# import package

In [1]:
# import sqlite3 package
import sqlite3

# connect to database

In [2]:
# create a connection
connection = sqlite3.connect("classroomDB.db")
connection.close()

In [3]:
# open connection
connection = sqlite3.connect("classroomDB.db")
cursor = connection.cursor()
create_table = """
    CREATE TABLE classroom (
    student_id INTEGER PRIMARY KEY,
    name VARCHAR(20),
    gender CHAR(1),
    physics_marks INTEGER,
    chemistry_marks INTEGER,
    mathematics_marks INTEGER 
    );"""
cursor.execute(create_table)
connection.commit()
connection.close()

# insert data

In [4]:
classroom_data = [(1,"Raj","M",70,84,92),
                 (2, "Poonam", "F", 87, 69, 93),
                 (3, "Nik", "M", 65, 83, 90),
                 (4, "Rahul", "F", 83, 76, 89)]
connection = sqlite3.connect("classroomDB.db")
cursor = connection.cursor()
for student in classroom_data:
    insert_statement = """INSERT INTO classroom
        (student_id, name, gender, physics_marks, chemistry_marks, mathematics_marks)
        VALUES
        ({0},"{1}","{2}",{3},{4},{5});""".format(student[0],student[1],student[2],student[3],student[4],student[5])
    cursor.execute(insert_statement)
connection.commit()
connection.close()

# extract data

In [5]:
connection = sqlite3.connect("classroomDB.db")
cursor = connection.cursor()
query = "SELECT * FROM classroom"
cursor.execute(query)
result = cursor.fetchall()
for row in result:
    print(row)
connection.close()

(1, 'Raj', 'M', 70, 84, 92)
(2, 'Poonam', 'F', 87, 69, 93)
(3, 'Nik', 'M', 65, 83, 90)
(4, 'Rahul', 'F', 83, 76, 89)

# MySQL database

In [8]:
!pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

In [9]:
import pymysql

In [18]:
hostname = 'localhost'
username = 'root'
password = ''
database = 'classroomDB'

connection = pymysql.connect( host=hostname, user=username, passwd=password, db=database )
connection.close()

In [19]:
cnx={'host':'localhost',
    'username':'root',
    'password':'',
    'db':'classroomDB'}
connection = pymysql.connect( host=cnx['host'], user=cnx['username'], passwd=cnx['password'], db=cnx['db'] )

In [20]:
cursor=connection.cursor()
create_table = """
    CREATE TABLE classroom (
    student_id INTEGER PRIMARY KEY,
    name VARCHAR(20),
    gender CHAR(1),
    physics_marks INTEGER,
    chemistry_marks INTEGER,
    mathematics_marks INTEGER 
    );"""
cursor.execute(create_table)
connection.commit()
connection.close()

In [23]:
classroom_data = [(1,"Raj","M",70,84,92),
                 (2, "Poonam", "F", 87, 69, 93),
                 (3, "Nik", "M", 65, 83, 90),
                 (4, "Rahul", "F", 83, 76, 89)]
connection = pymysql.connect( host=cnx['host'], user=cnx['username'], passwd=cnx['password'], db=cnx['db'] )
cursor = connection.cursor()
for student in classroom_data:
    insert_statement = """INSERT INTO classroom
        (student_id, name, gender, physics_marks, chemistry_marks, mathematics_marks)
        VALUES
        ({0},"{1}","{2}",{3},{4},{5});""".format(student[0],student[1],student[2],student[3],student[4],student[5])
    cursor.execute(insert_statement)
connection.commit()
connection.close()

In [24]:
connection = pymysql.connect( host=cnx['host'], user=cnx['username'], passwd=cnx['password'], db=cnx['db'] )
cursor=connection.cursor()
query="SELECT * FROM classroom"
cursor.execute(query)
result=cursor.fetchall()
for row in result:
    print(row)
connection.close()

(1, 'Raj', 'M', 70, 84, 92)
(2, 'Poonam', 'F', 87, 69, 93)
(3, 'Nik', 'M', 65, 83, 90)
(4, 'Rahul', 'F', 83, 76, 89)

# Microsoft SQL Server Database

In [27]:
!pip install pymssql

Collecting pymssql
  Downloading pymssql-2.2.1-cp39-cp39-win_amd64.whl (1.5 MB)
Installing collected packages: pymssql
Successfully installed pymssql-2.2.1

In [2]:
import pymssql

In [8]:
cnx={'host':'mssqldbtest.database.windows.net',
    'username':'test',
    'password':'Sisi7229$#',
    'db':'classroomDB'}
connection = pymssql.connect(server=cnx['host'], user=cnx['username'], password=cnx['password'], database=cnx['db'])

In [11]:
classroom_data = [(1,'Raj','M',70,84,92),
                 (2, 'Poonam', 'F', 87, 69, 93),
                 (3, 'Nik', 'M', 65, 83, 90),
                 (4, 'Rahul', 'F', 83, 76, 89)]
connection = pymssql.connect(server=cnx['host'], user=cnx['username'], password=cnx['password'], database=cnx['db'])  
cursor = connection.cursor()
for student in classroom_data:
    insert_statement = """INSERT INTO classroom
        (student_id, name, gender, physics_marks, chemistry_marks, mathematics_marks)
        VALUES
        ({0},'{1}','{2}',{3},{4},{5});""".format(student[0],student[1],student[2],student[3],student[4],student[5])
    cursor.execute(insert_statement)
connection.commit()
connection.close()

In [12]:
connection = pymssql.connect(server=cnx['host'], user=cnx['username'], password=cnx['password'], database=cnx['db'])  
cursor=connection.cursor()
query="SELECT * FROM classroom"
cursor.execute(query)
result=cursor.fetchall()
for row in result:
    print(row)
connection.close()

(1, 'Raj', 'M', 70, 84, 92)
(2, 'Poonam', 'F', 87, 69, 93)
(3, 'Nik', 'M', 65, 83, 90)
(4, 'Rahul', 'F', 83, 76, 89)